/* src/styles/calendarStyles.css */

.present-day {
  background-color: #28a745 !important;
  color: white !important;
  border-radius: 50%;
}

.absent-day {
  background-color: #dc3545 !important;
  color: white !important;
  border-radius: 50%;
}

.leave-day {
  background-color: #0d6efd !important;
  color: white !important;
  border-radius: 50%;
}
